<section class="consulting pb-5">
    <div class="container">
        <div class="forma">
            <h2 class="title text-center">
                получите консультацию или забронируйте время
            </h2>
            <form class="form" action="" method="post">
                <div class="f-top">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                            <div class="inputs">
                                <div class="inputblock mb-2">
                                    <input class="form-control" placeholder="Ваше Имя *" name="name" type="text" required>
                                </div>
                                <div class="inputblock mb-2">
                                    <input class="form-control" placeholder="Ваш телефон *" name="phone" type="tel" required>
                                </div>
                                <div class="inputblock">
                                    <input class="form-control" placeholder="Ваш e-mail *" name="email" type="email" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4 col-xl-9 mt-3 mt-md-0">
                            <div class="inputblock h-100">
                                <textarea class="form-control h-100" placeholder="Комментарий" name="comment"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="f-bottom mt-3">
                    <div class="row align-items-center">
                        <div class="col-12 col-md">
                            <div class="checks justify-content-md-end">
                                <input id="checky" class="checky form-control" type="checkbox" name="checks" required>
                                <label class="info" for="checky">
                                    Я согласен с <a href="">условиями использования сайта</a>
                                </label>
                            </div>
                        </div>
                        <div class="col-12 col-md-auto mt-3 mt-md-0">
                            <div class="order">
                                <button class="send cl-btn to-cart" type="button">
                                    отправить
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>