<div class="cart-products-result">
  <div class="cpr-block ms-md-auto">
    <div class="cpr-rows">
      <div class="cp-row">
        <div class="cp-tit">Сумма корзины</div>
        <div class="cp-price">74.85 EUR</div>
      </div>
      <div class="cp-row">
        <div class="cp-tit">Доставка</div>
        <div class="cp-price">0.00 EUR</div>
      </div>
      <div class="cp-row">
        <div class="cp-tit">СТОИМОСТЬ БЕЗ НДС</div>
        <div class="cp-price">61.86 EUR</div>
      </div>
      <div class="cp-row">
        <div class="cp-tit">ндс</div>
        <div class="cp-price">12.99 EUR</div>
      </div>
    </div>
    <div class="cp-row summ-row fw-bold">
      <div class="cp-tit">Всего к оплате</div>
      <div class="cp-price cl-brown">74.85 EUR</div>
    </div>
    <div class="products-to-buy">
      <div class="tit">вы покупаете</div>
      <div class="ptb-block">
        <div class="pic">
          <img src="../../assets/images/pr1.jpg" alt="product" />
        </div>
        <div class="ptb-info">
          <div class="name"></div>
          <div class="info">
            <p><span class="fw-bold">Объём/размер:</span> 500 мл</p>
            <p><span class="fw-bold">Цвет:</span> Medium Brown BR04</p>
            <p><span class="fw-bold">Количество:</span> 1</p>
          </div>
        </div>
      </div>
      <div class="ptb-block">
        <div class="pic">
          <img src="../../assets/images/pr1.jpg" alt="product" />
        </div>
        <div class="ptb-info">
          <div class="name"></div>
          <div class="info">
            <p><span class="fw-bold">Объём/размер:</span> 500 мл</p>
            <p><span class="fw-bold">Цвет:</span> Medium Brown BR04</p>
            <p><span class="fw-bold">Количество:</span> 1</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
