<section class="order-inner review-inner">
  <div class="container">
      <app-cart-progress></app-cart-progress>
    <form action="" class="form" method="post">
      <div class="data-row">
        <div class="row">
          <div class="col-12 col-md-6 col-lg-7 col-xl-8">
            <div class="data-check">
              <div class="dc-top">
                <div class="row align-items-center">
                  <div class="col">
                    <div
                      class="tit fs-xl-30 fs-md-20 fs-18 tt-upper cl-brown-l"
                    >
                      ПРОВЕРКА ВВЕДЕННЫХ ДАННЫХ
                    </div>
                  </div>
                  <div class="col-auto">
                    <a
                      class="change-btn d-flex align-items-center cl-brown-l tt-upper"
                      href=""
                    >
                      <p class="d-none d-md-block me-3">Изменить</p>
                      <span class="icon">
                        <img src="../../../assets/images/reduct.png" alt="reduct" />
                      </span>
                    </a>
                  </div>
                </div>
              </div>
              <div class="dc-main fs-xxl-24 fs-md-19 fs-16">
                <div class="dc-block dc-1 mb-4 mb-md-5">
                  <p>Имя: Александр</p>
                  <p>Фамилия: Черновский</p>
                  <p>Телефон: +3716754567</p>
                  <p>E-mail: alex.che@gmail.com</p>
                </div>
                <div class="dc-block dc-2 mb-3">
                  <div class="tit fw-bold cl-brown-l mb-2">
                    Способ доставки:
                  </div>
                  <p>Почтовая доставка</p>
                </div>
                <div class="dc-block dc-3">
                  <div class="tit fw-bold cl-brown-l mb-2">Адрес доставки:</div>
                  <p>Латвия, Рига, Ганибу дамбис 24а, LV-1005</p>
                </div>
                <div class="checks mt-4">
                  <input id="checky" class="checky" type="checkbox" checked />
                  <label class="info" for="checky">
                    Я согласен с <a href="">условиями использования сайта</a>,
                    доставки, обмена и возврата товара
                  </label>
                </div>
                <div class="buttons fs-xl-20 fs-18 mt-5">
                  <div class="row align-items-center">
                    <div class="col-12 col-xl-auto">
                      <div class="order">
                        <button class="cl-btn to-cart" type="submit">
                          оплатить картой
                        </button>
                      </div>
                    </div>
                    <div class="col-12 col-lg-auto my-3 my-xl-0">
                      <div class="or">или</div>
                    </div>
                    <div class="col-12 col-xl-auto">
                      <div class="order">
                        <a class="cl-btn bordered" href="#">
                          Получить счет на e-mail
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-5 col-xl-4 mt-5 mt-md-0">
              <app-cart-mini-info></app-cart-mini-info>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
