<div class="dt-block">
    <div class="tit">Способ доставки</div>
    <div class="inputs">
        <div class="inputblock d-block d-xl-flex">
            <p class="for-select">Выберите удобный вам способ доставки</p>
            <select name="delivery" class="w-100 mt-3 mt-xl-0">
                <option hidden selected>Почтовая доставка</option>
                <option value="Medium Brown BR04">Medium Brown BR04</option>
            </select>
        </div>
    </div>
</div>
<div class="dt-block">
    <div class="tit">Адрес доставки</div>
    <div class="inputs">
        <div class="inputblock">
            <p>Страна <span class="req">*</span></p>
            <input name="country" type="text">
        </div>
        <div class="inputblock">
            <p>Город <span class="req">*</span></p>
            <input name="city" type="text">
        </div>
        <div class="inputblock">
            <p>Адрес <span class="req">*</span></p>
            <input name="address" type="text">
        </div>
        <div class="inputblock">
            <p>ZIP код (индекс) <span class="req">*</span></p>
            <input name="zip" type="text">
        </div>
    </div>
</div>