<section class="service-choose">
    <div class="container">
        <h2 class="title text-center">
            Выберите необходимую услугу
        </h2>
        <hr>
        <div class="sc-row tt-upper fw-bold fs-xxl-36 fs-xl-30 fs-md-20 fs-25 text-center">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4">
                    <app-service-catalog-card></app-service-catalog-card>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <app-service-catalog-card></app-service-catalog-card>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <app-service-catalog-card></app-service-catalog-card>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <app-service-catalog-card></app-service-catalog-card>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <app-service-catalog-card></app-service-catalog-card>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <app-service-catalog-card></app-service-catalog-card>
                </div>
            </div>
        </div>
        <hr>
    </div>
</section>