
  <div class="product">
    <div class="pic">
      <a href="#">
        <img src="../../../../assets/images/pr1.jpg" alt="product" />
      </a>
    </div>
    <div class="name">
      <a href="">Leather & Vinyl Complete Repair Kit</a>
    </div>
    <div class="description">
      <p>
        A kit for repairing small tears, scuffs, scratches & to touch up color
        loss to all items of leather.
      </p>
    </div>
    <div class="price-block">от <span class="price">19.95 EUR</span></div>
  </div>

