<div class="dt-block">
    <div class="tit">КОНТАКТНЫЕ ДАННЫЕ</div>
    <div class="inputs">
        <div class="inputblock">
            <p>Ваше Имя <span class="req">*</span></p>
            <input name="name" type="text">
        </div>
        <div class="inputblock">
            <p>Ваша Фамилия <span class="req">*</span></p>
            <input name="sername" type="text">
        </div>
        <div class="inputblock">
            <p>Ваш телефон <span class="req">*</span></p>
            <input name="phone" type="tel">
        </div>
        <div class="inputblock">
            <p>Ваш e-mail <span class="req">*</span></p>
            <input name="email" type="email">
        </div>
    </div>
</div>