<div class="category-menu">
  <div class="dropdown">
    <a href="#" class="btn dropdown-toggle show" data-bs-toggle="dropdown"
      >Кожа</a
    >
    <div class="dropdown-menu show">
      <div class="link">
        <a class="active" href="#">Очистители и кондиционеры для кожи</a>
      </div>
      <div class="link"><a href="#">Ремонт кожи</a></div>
    </div>
  </div>
  <div class="dropdown">
    <a href="#" class="btn dropdown-toggle" data-bs-toggle="dropdown">Ткань</a>
    <div class="dropdown-menu">
      <div class="link"><a href="#">Ремонт кожи</a></div>
      <div class="link"><a href="#">Ремонт кожи</a></div>
    </div>
  </div>
  <div class="dropdown">
    <a href="#" class="btn dropdown-toggle" data-bs-toggle="dropdown">Замш</a>
    <div class="dropdown-menu">
      <div class="link"><a href="#">Ремонт кожи</a></div>
      <div class="link"><a href="#">Ремонт кожи</a></div>
    </div>
  </div>
  <div class="dropdown">
    <a href="#" class="btn dropdown-toggle" data-bs-toggle="dropdown">Дерево</a>
    <div class="dropdown-menu">
      <div class="link"><a href="#">Ремонт кожи</a></div>
      <div class="link"><a href="#">Ремонт кожи</a></div>
    </div>
  </div>

  <div class="link">
    <a href="">Акции</a>
  </div>
  <div class="link">
    <a href="">Наборы</a>
  </div>
</div>
