<section class="services-main">
    <div class="container">
        <h1 class="title text-center">
            Услуги мастерской для автомобиля
        </h1>
        <div class="sm-row">
            <div class="row">
                <div class="col-12 col-md-5">
                    <div class="pic text-center">
                        <img class="mw-100" src="../../assets/images/sm1.jpg" alt="pic">
                    </div>
                </div>
                <div class="col-12 col-md-7 mt-4 mt-md-0">
                    <div class="text-block">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris facilisis rutrum sapien non imperdiet. Proin euismod, justo vel tempus accumsan, nibh justo venenatis tellus, at pharetra dolor turpis a est. Aliquam erat volutpat. Praesent rhoncus ornare pretium. Suspendisse mattis ipsum pharetra augue sodales efficitur. Integer lectus sem, vehicula vel diam sed, porttitor convallis est. Proin eu accumsan sem. Maecenas ac rhoncus turpis.</p>
                        <p>Donec ornare aliquet quam, ut lacinia neque rhoncus non. Vestibulum congue dui lacinia, dictum nulla eleifend, egestas urna. Praesent bibendum in orci eu consequat. Suspendisse id dolor efficitur, congue arcu quis, elementum quam. Suspendisse potenti. Integer aliquet mattis lorem eu molestie. Integer placerat, eros in auctor vulputate, turpis libero faucibus sem, sed efficitur augue lectus eu lectus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                        <p>Aliquam sed sem quis sapien convallis sodales. Nam nunc dui, varius vel nulla a, viverra pretium erat. Duis aliquet est et lorem imperdiet congue. Mauris efficitur, nisl et gravida elementum, tortor elit facilisis lorem, eget sodales augue nisl eu lectus. Suspendisse in eros imperdiet, accumsan velit eget, hendrerit massa. Praesent feugiat, urna ut posuere lacinia, felis quam iaculis lacus, sit amet feugiat leo urna eget dui. Maecenas hendrerit ligula vel mattis cursus. Nulla dui eros, semper ut ligula</p>
                        <p>Morbi eget purus id lorem tempus dapibus. Mauris eleifend vel erat vehicula laoreet. Etiam a convallis odio, vitae dapibus erat. Suspendisse facilisis leo id consequat rutrum. Nullam eget vulputate sem, viverra interdum nulla. Quisque aliquam mattis blandit. Aenean elementum sem nisl, ut faucibus leo finibus ac. Integer in ipsum blandit, lobortis augue sed, sagittis augue. Donec turpis urna, tempor sit amet feugiat non, vestibulum malesuada odio. Proin pretium sapien sed lorem porttitor tincidunt. Fusce consectetur lorem quis tellus lacinia volutpat. Aliquam nec felis at tellus gravida placerat vitae sed tortor. Donec imperdiet dui quis feugiat tristique.</p>
                    </div>
                    <div class="order mt-4">
                        <a class="cl-btn to-cart" href="#">
                            ЗАКАЗАТЬ КОНСУЛЬТАЦИЮ
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-service-catalog-grid></app-service-catalog-grid>
<app-contact-form></app-contact-form>