<div class="current-order-page text-center">
    <div class="row">
        <div class="col-3">
            <div class="c-block active">
                <div class="circle fs-48 fw-bold cl-brown">
                    <div class="c-inner">
                        <img class="mw-100" src="../../../assets/images/ok.png" alt="ok">
                    </div>
                </div>
                <p class="fs-xl-24 fs-md-18 fs-12 fw-bold mt-3">Наполнение <br> корзины</p>
            </div>
        </div>
        <div class="col-3">
            <div class="c-block active">
                <div class="circle fs-48 fw-bold cl-brown">
                    <div class="c-inner">
                        <img class="mw-100" src="../../../assets/images/ok.png" alt="ok">
                    </div>
                </div>
                <p class="fs-xl-24 fs-md-18 fs-12 fw-bold mt-3">Способ и адрес <br> доставки</p>
            </div>
        </div>
        <div class="col-3">
            <div class="c-block active">
                <div class="circle fs-48 fw-bold cl-brown">
                    <div class="c-inner">
                        3
                    </div>
                </div>
                <p class="fs-xl-24 fs-md-18 fs-12 fw-bold mt-3">Проверка заказа <br> и оплата</p>
            </div>
        </div>
        <div class="col-3">
            <div class="c-block">
                <div class="circle fs-48 fw-bold cl-brown">
                    <div class="c-inner">
                        4
                    </div>
                </div>
                <p class="fs-xl-24 fs-md-18 fs-12 fw-bold mt-3">Успех!</p>
            </div>
        </div>
    </div>
</div>